{% macro render_field(field) %}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}


{% macro render_sitem(endpoint, display, cls='', iconcls='', active='') %}
<li {% if request.endpoint == endpoint or active == endpoint %} class='nav-item active' {%else%} class="nav-item" {% endif %}>
    <a class='{{cls}}' href="{{url_for(endpoint)}}"><i class="{{iconcls}}"></i> {{display}}</a>
</li>
{% endmacro %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="60"/>
    <title>GrinPool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.fontAwesome.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/breadcrumb.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/graph.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chosen.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chosen-bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>



    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper-utils.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tooltip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary py-0">
  <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='images/logo.png') }}"  class="grinlogo">GrinPool<sup><span style="font-size:60%;"> (Beta)</span></sup></span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item active">-->
        <!--<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>-->
      <!--</li>-->
      {{render_sitem('home_profile.home_template', 'Home', cls='nav-link', iconcls='fa fa-home', active=active_page)}}
      {{render_sitem('pool_profile.pool_template', 'Pool', cls='nav-link', iconcls='fa fa-university', active=active_page)}}
      {{render_sitem('miner_profile.miner_template', 'Miner', cls='nav-link', iconcls='fa fa-user', active=active_page)}}
      {{render_sitem('about_profile.about_template', 'About', cls='nav-link', iconcls='fa fa-question', active=active_page)}}
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/grin-pool/grin-pool">on <i class="fa fa-github fa-lg" aria-hidden="true"></i></a>
      </li>

      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">About</a>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<form class="form-inline my-2 my-lg-0">-->
      <!--<input class="form-control mr-sm-2" placeholder="Search" type="text">-->
      <!--<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>-->
    <!--</form>-->
  </div>
</nav>

<!--<div>-->
    <!--<nav class="navbar navbar-expand-lg navbar-dark bg-primary">-->
        <!--<a class="navbar-brand" href="https://github.com/grin-pool/grin-pool">-->
          <!--&nbsp;&nbsp;&nbsp;-->
          <!--<img src="{{ url_for('static', filename='images/logo.png') }}"  class="grinlogo">-->
          <!--<span style="font-size:2.50rem;;">GrinPool <span>-->
          <!--<span style="font-size:1.0rem;">(beta)</span>-->
          <!--&nbsp;&nbsp;-->
          <!--<span style="font-size:2.25rem;">Grin Mining Pool</span>-->
          <!--&nbsp;-->
          <!--<span style="font-size:1.0rem;">on</span>-->
          <!--<span style="font-size:1.5rem;"> <i class="fa fa-github fa-xs" aria-hidden="true"></i> </span>-->
        <!--</a>-->
    <!--</nav>-->
<!--</div>-->

{% block content %}

{% endblock %}

    <script src="{{ url_for('static', filename='js/chosen.jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/prism.js') }}"></script>
    <script src="{{ url_for('static', filename='js/init.js') }}"></script>

</body>
</html>
