/stratum/target
/stratum/Cargo.lock
**/node_modules
**/bak
**/*.rs.bk
**/*.log
**/*.XXX

**/.idea/
**/__pycache__/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# pyenv
.python-version

# Environments
**/venv/

