.grinlogo {
  display: inline-block;
  align: left;
  height: 45px;
  position: relative;
  padding-right: 60px;
}

table tr{
   height: 35px;
}

table tr td{
   border: 1px solid black;
   padding:10px !important;
}

body {background-color: #111111;}

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 0px;
        }

    </style>


/* Clear button styles
--------------------------------------------- */

::-ms-clear {
  display: none;
}

.hidden {
  display:none;
}

.form-control-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}

