{% extends "base.html" %}
{% block content %}

  <div class="card border-primary mb-3 text-justified text-white border-left" style="background-color:#214700;border-radius:.25rem;">
    <div class="card-header" style="background-color:#041600;color:#C0C0C0;font-size:200%;">About GrinPool</div>
      <div class="card-body" style="background-color:#0e1e00;">
        <div class="row">
          <p class="card-text" style="font-size:130%;">
            &nbsp;&nbsp;&nbsp;This is GrinPool, an Open-Source mining pool for the MimbleWinble Grin blockchain
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-primary mb-3" style="border-radius:.25rem;font-size:130%;">
    <div class="card-body text-left">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8" style="border-radius:.25rem;">
          <p class="card-text text-white">
            We are currently mining on testnet3
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <p class="card-text text-white">
            MainNet Coming Soon™
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-warning mb-3 text-white" style="border-radius:.25rem;">
    <div class="card-body text-center">
      <p class="card-text">Warning: Testnet grin coins have no value.</p>
    </div>
  </div>




{% endblock %}

