{% extends "base.html" %}
{% block content %}

  <div class="card border-primary mb-3 text-white border-left" style="background-color:#214700;border-radius:.25rem;">
    <div class="card-header" style="background-color:#041600;color:#C0C0C0;font-size:225%;text-align:center;">About GrinPool</div>
      <div class="card-body" style="background-color:#0e1e00;">
        <div class="row justify-content-center">
          <p class="card-text" style="font-size:140%;">
            &nbsp;&nbsp;&nbsp;This is GrinPool, an Open-Source Mining Pool for the MimbleWimble Grin Blockchain
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-primary mb-3" style="border-radius:.25rem;font-size:140%;">
    <div class="card-body text-left">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8" style="border-radius:.25rem;">
          <p class="card-text text-white">
            We are currently mining on Testnet-4
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <p class="card-text text-white">
            MainNet Coming Soon™
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card border-primary mb-3 border-left" style="border-radius:.25rem;">
      <div class="card-body py-2" style="background-color:#000021;">
        <div class="row justify-content-center" >
            &nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#howto" style="border-radius:.25rem;">How-To mine in this pool</button>
            <div id="howto" class="collapse">
    <br>
    <ul>
    <li> Supports Linux and Windows miners: mimblewimble/grin-miner and mozkomor/GrinGoldMiner
    <li> Configure your miner to connect to: stratum.mwgrinpool.com:3333
    <li> Use your grin wallet URL as your stratum login, no password necessary
    <li> Point your browser at MWGrinPool.com
    <li> Start your miner and watch your wallet fill with grin
    </ul>

            </div>
           </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3 text-danger" style="border-radius:.25rem;font-size:120%;background-color:#000000">
    <div class="card-body text-center">
      <p class="card-text">Warning: Testnet grin coins have no value</p>
    </div>
  </div>

{% endblock %}
