{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="card border-primary mb-3">
      <div class="card-header">Grin Network</div>
      <div class="card-body">
        <h4 class="card-title">Testnet 3</h4>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped table-dark table-sm table-hover">
                    <tr><td>Graph Rate</td> <td></td></tr>
                    <tr><td>Block Found</td> <td></td></tr>
                    <tr><td>Difficulty</td> <td></td></tr>
                    <tr><td>Chain Height</td> <td></td></tr>
                    <tr><td>Rewards</td> <td></td></tr>
                    <tr><td>Last Hash</td> <td></td></tr>
                </table>
            </div>
            <div class="col-md-6">
                Graph Placeholder
            </div>
        </div>
      </div>
    </div>

    <div class="card border-info mb-3" >
      <div class="card-header">Grin-Pool US</div>
      <div class="card-body">
          <div class="row">
            <div class="col-md-6">
                <table class="table table-striped table-dark table-sm table-hover">
                    <tr><td>Graph Rate</td> <td></td></tr>
                    <tr><td>Block Found</td> <td></td></tr>
                    <tr><td>Difficulty</td> <td></td></tr>
                    <tr><td>Chain Height</td> <td></td></tr>
                    <tr><td>Rewards</td> <td></td></tr>
                    <tr><td>Last Hash</td> <td></td></tr>
                </table>
            </div>
            <div class="col-md-6">
                Graph Placeholder
            </div>
        </div>
      </div>
    </div>
    <div class="card  text-white bg-primary mb-3" >
      <div class="card-header">Worker</div>
      <div class="card-body">
          <div class="row">
            <input class="form-control col-md-10"> <button type="button" class="col-md-2 btn btn-info">Lookup</button>
          </div>
          <div class="row">
            <div class="col-md-6">
                <table class="table table-striped table-dark table-sm table-hover">
                    <tr><td>Graph Rate</td> <td></td></tr>
                    <tr><td>Block Found</td> <td></td></tr>
                    <tr><td>Difficulty</td> <td></td></tr>
                    <tr><td>Chain Height</td> <td></td></tr>
                    <tr><td>Rewards</td> <td></td></tr>
                    <tr><td>Last Hash</td> <td></td></tr>
                </table>
            </div>
            <div class="col-md-6">
                Graph Placeholder
            </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}