{% extends "base.html" %}
{% block content %}

  <div class="card border-primary mb-3 text-justified text-white border-left" style="background-color:#214700;border-radius:.25rem;">
    <div class="card-header" style="background-color:#041600;color:#C0C0C0;font-size:225%;text-align:center;">GrinPool</div>
      <div class="card-body" style="background-color:#0e1e00;">
        <div class="row">
          <p class="card-text" style="font-size:140%;">
            &nbsp;&nbsp;&nbsp; XXX
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
