wheel
configparser
python-dateutil
requests
mysql-connector
pymysql
sqlalchemy
Flask
flask-restful
flask-login
flask_httpauth
flask_limiter
wtforms
wtforms_components
pytz
pygal
cairosvg
flask-cors
pika
passlib
