{% extends "base.html" %}
{% block content %}

  <div class="card border-primary mb-3 text-left">
    <div class="card-header" style="background-color:#041600;color:#C0C0C0;font-size:200%;">Grin Network</div>
      <div class="card-body text-left text-white" style="background-color:#0e1e00;">
        <div class="row">
          <div class="col-sm-4 text-left text-white" style="background-color:#0e1e00;">
            <table class="table table-dark table-striped table-sm table-hover table-condensed" style="background-color:#112301;">
              <tr>
                <td>
                  <i class="fa fa-line-chart fa-lg" aria-hidden="true"></i>
                  &nbsp; Graph Rate
                </td> <td>
                  {{ grin.gps }} g/s
                </td>
              </tr> <tr>
                <td>
                  <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>
                  &nbsp; Block Found
                </td> <td>
                  {{ grin.last_block_found.found }} sec ago
              </tr> <tr>
                <td>
                  <i class="fa fa-calculator fa-lg" aria-hidden="true"></i>
                  &nbsp; Difficulty
                </td> <td>
                  {{ grin.difficulty }}
              </tr> <tr>
                <td>
                  <i class="fa fa-align-justify fa-lg" aria-hidden="true"></i>
                  &nbsp; Chain Height
                </td> <td>
                  {{ grin.height }} blocks
                </td>
              </tr> <tr>
                <td>
                  <i class="fa fa-university fa-lg" aria-hidden="true"></i>
                  &nbsp; Reward
                </td> <td>
                  60 grin / block
                </td>
              </tr>
            </table>
          </div>
          <div class="col-sm-8 text-left text-white" style="background-color:#0e1e00;">
            <div id="chart">
              <img src="{{grin.graph|safe}}" alt="grin_chart.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card border-primary mb-3 text-left" >
    <div class="card-header" style="background-color:#000000;color:#EEE117;font-size:200%;">GrinPool</div>
      <div class="card-body text-left text-white" style="background-color:#101010;">
        <div class="row">
          <div class="col-sm-4">
            <table class="table table-striped table-dark table-sm table-hover" style="background-color:#111111;">
              <thead>
                <tr>
                  <th colspan="2" class="text-center text-white">GrinPool Stats</th>
                </tr>
              </thead>
              <tr>
                <td>
                  <i class="fa fa-line-chart fa-lg" aria-hidden="true"></i>
                  &nbsp; Graph Rate
                </td> <td>
                  {{ pool.gps }} g/s
                </td>
              </tr> <tr>
                <td>
                  <i class="fa fa-hashtag fa-lg" aria-hidden="true"></i>
                  &nbsp; Active Miners
                </td> <td>
                  {{ pool.miner_count }}
              </tr> <tr>
                <td>
                  <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>
                  &nbsp; Last Block Found
                </td> <td>
                  {{ pool.last_block_found.found }} sec ago
              </tr> <tr>
                <td>
                  <i class="fa fa-cubes fa-lg" aria-hidden="true"></i>
                  &nbsp; Blocks Found
                </td> <td>
                  {{ pool.blocks_found }}
                </td>
              </tr> <tr>
                <td>
                  <i class="fa fa-question fa-lg" aria-hidden="true"></i>
                  &nbsp; TBD
                </td> <td>
                  {{ "TBD" }}
                </td>
              </tr> 
            </table>
            <table class="table table-striped table-dark table-sm table-hover" style="background-color:#111111;">
              <thead>
                <tr>
                  <th colspan="2" class="text-center">Top Workers</th>
                </tr>
              </thead>
              <tr>
                <td>
                  <i class="fa fa-server fa-lg" aria-hidden="true"></i>
                  &nbsp; {{ workers["top"][0]["name"] }}
                </td> <td>
                  {{ workers["top"][0].gps }} g/s
                </td>
              </tr> <tr>
                <td>
                  <i class="fa fa-server fa-lg" aria-hidden="true"></i>
                  &nbsp; {{ workers["top"][1]["name"] }}
                </td> <td>
                  {{ workers["top"][1].gps }} g/s
              </tr> <tr>
                <td>
                  <i class="fa fa-server fa-lg" aria-hidden="true"></i>
                  &nbsp; {{ workers["top"][2].name }}
                </td> <td>
                  {{ workers["top"][2].gps }} g/s
              </tr> <tr>
                <td>
                  <i class="fa fa-server fa-lg" aria-hidden="true"></i>
                  &nbsp; {{ workers["top"][3].name }}
                </td> <td>
                  {{ workers["top"][3].gps }} g/s
                </td>
              </tr> <tr>
                <td>
                  <i class="fa fa-server fa-lg" aria-hidden="true"></i>
                  &nbsp; {{ workers["top"][4].name }}
                </td> <td>
                  {{ workers["top"][4].gps }} g/s
                </td>
              </tr> 
            </table>
          </div>
          <div class="col-sm-8">
            <div id="chart">
              <img src="{{workers.graph|safe}}" alt="grinpool_chart.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
